/* Global */

:root {
  /* Color */
  --color-bright-blue: hsl(220, 98%, 61%);

  /* Light Theme */

  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --color-very-dark-blue-dark: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue-dark: hsl(235, 24%, 19%);
  --color-light-grayish-blue-dark: hsl(234, 39%, 85%);
  --color-light-grayish-blue-hover-dark: hsl(236, 33%, 92%);
  --color-dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --color-very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
  --color-very-dark-grayish-blue-dark: hsl(237, 14%, 26%);

  /* Font size */
  --font-medium: 18px;

  /* Font weight */
  --weight-bold: 700;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--color-very-light-grayish-blue);
}

button {
  background-color: transparent;
  border: none;
}

.bg-img {
  width: 100%;
}

.container {
  width: 100%;
  position: absolute;
  top: 1.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.3rem;
  color: white;
}

.content {
  width: 86vw;
  margin: auto;
  color: var(--color-very-dark-grayish-blue);
}

.form {
  margin-top: 1rem;
}

.input {
  padding: 1.2rem;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  outline: 0;
}

.input:focus {
  outline: none;
}

.list {
  list-style: none;
  margin: auto;
  margin-top: 1rem;
  padding: 0;
  background-color: white;
  border-radius: 0.3rem;
}

.todo {
  display: grid;
  grid-template-columns: 2.2rem auto;
  padding: 1.2rem;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.check-icon {
  display: inline-block;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.7rem;
  border-radius: 50%;
  text-align: center;
}

.check-icon img {
  width: 0.8rem;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.cross-icon {
  height: 0.8rem;
}

.additional {
  display: flex;
  border-radius: 0 0 0.3rem 0.3rem;
  justify-content: space-between;
  padding: 1.2rem;
  background: white;
  color: var(--color-dark-grayish-blue);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.clear-btn {
  font-size: 0.8rem;
  color: var(--color-dark-grayish-blue);
}

.filter {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1.2rem;
  border-radius: 0.3rem;
}

.filter button {
  color: var(--color-dark-grayish-blue);
  font-weight: var(--weight-bold);
  font-size: 0.9rem;
}

.footer {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  color: var(--color-dark-grayish-blue);
}
