* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.bg-img {
  width: 100%;
}

.container {
  width: 100%;
  position: absolute;
  top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
