* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.bg-img {
  width: 100%;
}

.container {
  width: 100%;
  position: absolute;
  top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form {
  margin-top: 1rem;
  /* height: 1.5rem; */
}

.input {
  /* font-size: 1.4rem; */
  padding: 1rem;
  width: 90vw;
  display: block;
  margin: 0 auto;
}
